name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag mysql-tool:$(date +%s)
    - name: Save image
      run: docker save mysql-tool:$(date +%s) -o mysql-tool-$(date +%s).tar

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: mysql-tool-$(date +%s)
        path: mysql-tool-$(date +%s).tar

